<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AssetStudio.Properties.Settings>
            <setting name="displayAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enablePreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="assetGroupOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertTexture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eulerFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterPrecision" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="exportAllNodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportSkins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportAnimations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="collectAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boneSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="fbxVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="fbxFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="scaleFactor" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="exportBlendShape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="castToBone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="restoreExtensionName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="encrypted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>147</value>
            </setting>
            <setting name="enableConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedGame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedUnityCNKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="enableResolveDependencies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedAssetMapType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedCABMapName" serializeAs="String">
                <value />
            </setting>
            <setting name="skipContainer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimalAssetMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modelsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableModelPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableFileLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableVerbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="types" serializeAs="String">
                <value>{
    "Animation": {
        "Item1": true,
        "Item2": false
    },
    "AnimationClip": {
        "Item1": true,
        "Item2": true
    },
    "Animator": {
        "Item1": true,
        "Item2": true
    },
    "AnimatorController": {
        "Item1": true,
        "Item2": false
    },
    "AnimatorOverrideController": {
        "Item1": true,
        "Item2": false
    },
    "AssetBundle": {
        "Item1": true,
        "Item2": false
    },
    "AudioClip": {
        "Item1": true,
        "Item2": true
    },
    "Avatar": {
        "Item1": true,
        "Item2": false
    },
    "Font": {
        "Item1": true,
        "Item2": true
    },
    "GameObject": {
        "Item1": true,
        "Item2": false
    },
    "IndexObject": {
        "Item1": true,
        "Item2": false
    },
    "Material": {
        "Item1": true,
        "Item2": true
    },
    "Mesh": {
        "Item1": true,
        "Item2": true
    },
    "MeshFilter": {
        "Item1": true,
        "Item2": false
    },
    "MeshRenderer": {
        "Item1": true,
        "Item2": false
    },
    "MiHoYoBinData": {
        "Item1": true,
        "Item2": true
    },
    "MonoBehaviour": {
        "Item1": true,
        "Item2": true
    },
    "MonoScript": {
        "Item1": true,
        "Item2": false
    },
    "MovieTexture": {
        "Item1": true,
        "Item2": false
    },
    "PlayerSettings": {
        "Item1": true,
        "Item2": false
    },
    "RectTransform": {
        "Item1": true,
        "Item2": false
    },
    "Shader": {
        "Item1": true,
        "Item2": true
    },
    "SkinnedMeshRenderer": {
        "Item1": true,
        "Item2": false
    },
    "Sprite": {
        "Item1": true,
        "Item2": true
    },
    "SpriteAtlas": {
        "Item1": true,
        "Item2": false
    },
    "TextAsset": {
        "Item1": true,
        "Item2": true
    },
    "Texture2D": {
        "Item1": true,
        "Item2": true
    },
    "Transform": {
        "Item1": true,
        "Item2": false
    },
    "VideoClip": {
        "Item1": true,
        "Item2": true
    },
    "ResourceManager": {
        "Item1": true,
        "Item2": false
    }
}</value>
            </setting>
            <setting name="keys" serializeAs="String">
                <value>[{
        "Name": "PGR GLB/KR",
        "Key": "6B75726F6B75726F6B75726F6B75726F"
    }, {
        "Name": "PGR CN/JP/TW",
        "Key": "7935585076714C4F72436F6B57524961"
    }, {
        "Name": "Archeland/Kalpa of Universe",
        "Key": "426C61636B4A61636B50726F6A656374"
    }, {
        "Name": "Archeland 1.1.14",
        "Key": "50726F6A65637441726368654C616E64"
    }, {
        "Name": "Neural Cloud",
        "Key": "31636162383436663532393031633965"
    }, {
        "Name": "Higan: Eruthyll",
        "Key": "45317832633361346C35693662377572"
    }, {
        "Name": "White Chord",
        "Key": "79756C6F6E6731383638676E6F6C7579"
    }, {
        "Name": "Mecharashi",
        "Key": "33384338334631333245374637413041"
    }, {
        "Name": "Castlevania: Moon Night Fantasy",
        "Key": "31323334353637383132333435363738"
    }, {
        "Name": "Huā Yì Shān Xīn Zhī Yuè",
        "Key": "494E484A6E68647970716B3534377864"
    }, {
        "Name": "Doula Continent",
        "Key": "52346366773339474644326661785756"
    }, {
        "Name": "Bless Global",
        "Key": "6C6F6E67747567616D652E796A66623F"
    }, {
        "Name": "Starside",
        "Key": "41394A3542384D4A50554D3539464B57"
    }, {
        "Name": "Resonance Soltice",
        "Key": "5265736F6E616E63655265626F726E52"
    }, {
        "Name": "Oblivion Override",
        "Key": "7179666D6F6F6E323331323433343532"
    }, {
        "Name": "Dawnlands",
        "Key": "636F6465737339353237636F64657373"
    }, {
        "Name": "BB",
        "Key": "5F6C4E3F3A3F233F3F3F3F663F1A3F3F"
    }, {
        "Name": "Dynasty Legends 2",
        "Key": "746169686567616D6573323032323032"
    }, {
        "Name": "Evernight CN",
        "Key": "68687878747478736868787874747873"
    }, {
        "Name": "Xintianlong Babu",
        "Key": "61323562623133346363326464333265"
    }, {
        "Name": "Frostpunk: Beyond the Ice",
        "Key": "7368756978696E673838383838383838"
    }
]</value>
            </setting>
			<setting name="uvExport" serializeAs="String">
				<value>
					<ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<boolean>true</boolean>
						<boolean>true</boolean>
						<boolean>false</boolean>
						<boolean>false</boolean>
						<boolean>false</boolean>
						<boolean>false</boolean>
						<boolean>false</boolean>
						<boolean>false</boolean>
					</ArrayOfBoolean>
				</value>
			</setting>
            <setting name="texs" serializeAs="String">
                <value>{}</value>
            </setting>
        </AssetStudio.Properties.Settings>
    </userSettings>
</configuration>