<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="displayAll" value="False" />
		<add key="enablePreview" value="True" />
		<add key="displayInfo" value="True" />
		<add key="openAfterExport" value="True" />
		<add key="assetGroupOption" value="0" />
		<add key="convertTexture" value="True" />
		<add key="convertAudio" value="True" />
		<add key="convertType" value="Png" />
		<add key="eulerFilter" value="True" />
		<add key="filterPrecision" value="0.25" />
		<add key="exportAllNodes" value="True" />
		<add key="exportSkins" value="True" />
		<add key="exportAnimations" value="True" />
		<add key="boneSize" value="10" />
		<add key="fbxVersion" value="3" />
		<add key="fbxFormat" value="0" />
		<add key="scaleFactor" value="1" />
		<add key="exportBlendShape" value="True" />
		<add key="castToBone" value="False" />
		<add key="restoreExtensionName" value="True" />
		<add key="exportAllUvsAsDiffuseMaps" value="False" />
		<add key="key" value="147" />
		<add key="encrypted" value="True" />
		<add key="skipRenderer" value="False" />
		<add key="selectedGame" value="0" />
		<add key="collectAnimations" value="False" />
		<add key="enableResolveDependencies" value="True" />
		<add key="selectedCNUnityKey" value="0" />
		<add key="selectedAssetMapType" value="0" />
		<add key="exportMiHoYoBinData" value="True" />
	</appSettings>
</configuration>